/** * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/) * http://cssreset.com */html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {  margin: 0;  padding: 0; border: 0;  font-size: 100%;  font: inherit;  vertical-align: baseline;}/* HTML5 display-role reset for older browsers */article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {  display: block;}body {  line-height: 1;}ol, ul {  list-style: none;}blockquote, q { quotes: none;}blockquote:before, blockquote:after,q:before, q:after { content: '';  content: none;}table {  border-collapse: collapse;  border-spacing: 0;}

.container {
  width: 960px;
  margin: 50px auto;
  position: relative;
}

.list {
  font-size: 1em;
  list-style: square;
}

.list li {
  cursor: pointer;
  width: 150px;
  height: 150px;
  border: 1px solid #ddd;
  margin: 10px;
  float: left;
  text-align: center;
  border-radius: 200px;
  position: relative;
  display: table;
}

.list li p {
  display: table-cell;
  vertical-align: middle;
  padding: 10px;
}

.list .active {
  background-color: orange;
}

.list li:hover {
  background-color: #ddd;
}

.loader {
  background-image: url(../img/ajax-loader.gif);
  width: 58px;
  height: 58px;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 50%;
}


.form {
  position: absolute;
  top: 0px;
  left: -200px;
  background-color: white;
  padding: 50px;
}


.form  form > * {
  display: block;
}